body{
    overflow-x: hidden;
    margin: 0;
    background: aliceblue;
}
.container{
    float:left;
    box-sizing: border-box;
    margin: 1vh;
    background-color: lavender;
    border-radius: 15px;
    width:calc(25% - 3vh);
    padding: 3vh 1vh 0 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: mediumslateblue;
    height: 30vh;
    width:18vw;
}
img{
    height: 27vh;
    width:12vw;
}
h3{
    margin:1vh;
}
h4{
    margin:0;
}
.header{
    margin: 0 2vh 2vh 2vh;
    border-radius: 15px;
    height: 10vh;
    width:97vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: mediumslateblue;
    position: sticky;
    top: 0;
}
.main{
    display: flex;
    justify-content: center;
}
.wrapper{
    width: 88vw;
    flex-wrap: wrap;
    display: flex;
    margin:2vh 0 0 28vh;
}
p{
    font-size: 24px;
}
.leftBar{
    background-color: mediumslateblue;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 1vh 2vh 2vh;
    width: 7vw;
    height:77vh;
    padding: 3vh;
    position: fixed;
    left: 0;
    top: 13vh;
}
.NavLink{
    margin-top: 2vh;
    text-decoration: none;
    color: lavender;
    font-size: 18px;
}
.headerWrap{
    width:100vw;
    height: 10vh;
    position: sticky;
    top: 0;
    background: aliceblue;
    padding-top: 1vh;
}
.headerNav{
    text-decoration: none;
    color: lavender;
    font-size: 18px;
}